footer{
    margin: 0 auto;
    /* border: 1px solid black; */
    background-color: #f8f9fb;
    
}
.footer-logo{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.logo-heading{
    position: relative;
    top: 0.6vw;
    color: #61748b;
    margin-left: 0.8vw;
    font-weight: 400;
}
footer img{
    height: 3vw;
}

.icons-div{
    width: 8vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    margin: 1.2vw auto;
    margin-bottom: 0.2vw;
}
.icons{
    height: 1.5vw;
   
}

ul{
    list-style-type: none;
    /* border: 1px solid black; */
    width: 25vw;
    display: flex;
    justify-content: space-between;
    color: #61748b;
    
}

.copyright{
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}
.copyright-para{
    margin: 1.4vw auto;
    color: #61748b; 
}

.icons:hover{
    transform: scale(1.2);
}

